ul {
  list-styl-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #8F9779;
}

li {
  float: left;
}

li a {
  display: block; 
  color: white; 
  text-align: center; 
  padding: 14px 16px;
  text-decoration: none;
}

/*Change the link color to #111 (black) on hover */ 
li a:hover {
  background-color: #111;
}

body{
  background-color: #8F9779;
}


h1 {
  font-family: "Lucida Console", "Courier New", monospace;
  color: #BC8F8F;
}

p {
  .p2 {
  font-family: "Trebuchet MS" , sans-serif;
}
